In [2]:
import pandas as pd
import numpy as np
import zipfile
import matplotlib.pyplot as plt
from sklearn import ensemble
from sklearn import svm
%matplotlib inline
from collections import Counter
import sklearn.cross_validation
import math
import sys
from sklearn.preprocessing import OneHotEncoder

In [3]:
def RMSE(predictions, actual):
    squared_error = (predictions - actual)**2
    MSE = squared_error.mean()
    RMSE = math.sqrt(MSE)
    return RMSE

def MAE(predictions, actual):
    MAE = (abs(predictions-y_test).mean())
    return MAE

In [6]:
ls

Housing Price Modeling.ipynb  Running APM on Data.ipynb     data_sci_snippet.csv.zip
Memoizer.ipynb                Wikipedia n-grams.ipynb

In [10]:
import pandas as pd
import numpy as np

def one_hot_code_strings(df):
    count = 0
    for i in df:
        if type(df[i][0]) is str:
            print i
            if i == 'PublicRemarks':
                break
            sys.stdout.flush()
            dummies = pd.get_dummies(df[i])
            for j in dummies:
                name = 'one_hot_coded_' + str(count)
                df[name] = dummies[j]
                count += 1
    t = df
    for i in t:
        if type(t[i][0]) is str:
            t = t.drop(i, 1)
    df = t
    return df

In [11]:
data = pd.read_csv(zipfile.ZipFile('data_sci_snippet.csv.zip').open('data_sci_snippet.csv'))
# Convert categorical variables to floats for modeling
data = one_hot_code_strings(data)

# data['PoolFloat'] = pd.Series(data['Pool'], dtype ='category').cat.rename_categories(range(len(Counter(data['Pool']))))
# data['ListingStatusFloat'] = pd.Series(data['ListingStatus'], dtype ='category').cat.rename_categories(range(len(Counter(data['ListingStatus']))))
# data['DwellingTypeFloat'] = pd.Series(data['DwellingType'], dtype ='category').cat.rename_categories(range(len(Counter(data['DwellingType']))))
data[:2]

Pool
ListDate
PublicRemarks

,ListingId,LivingArea,NumBedrooms,NumBaths,ExteriorStories,ListPrice,GeoLat,GeoLon,CloseDate,ClosePrice,...,one_hot_coded_178,one_hot_coded_179,one_hot_coded_180,one_hot_coded_181,one_hot_coded_182,one_hot_coded_183,one_hot_coded_184,one_hot_coded_185,one_hot_coded_186,one_hot_coded_187
0,5077399,3054,4,2.5,1,675000,33.593239,-111.961056,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,5077408,2230,4,2.0,1,475000,33.650984,-111.963151,2014-06-24,460000,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
pool_data = list(data['PoolFloat'])
plt.hist(pool_data)

In [66]:
encoder = OneHotEncoder()
encoder.fit(data['PoolFloat'])

ValueError: need more than 1 value to unpack

In [13]:
filename = "data_sci_snippet.csv.zip"
zf = zipfile.ZipFile(filename, 'r')

data = pd.read_csv(zf.open('data_sci_snippet.csv'))

data = one_hot_code_strings(data)
# Convert categorical variables to floats for modeling
# data['PoolFloat'] = pd.Series(data['Pool'], dtype ='category').cat.rename_categories(range(len(Counter(data['Pool']))))
# data['ListingStatusFloat'] = pd.Series(data['ListingStatus'], dtype ='category').cat.rename_categories(range(len(Counter(data['ListingStatus']))))
# data['DwellingTypeFloat'] = pd.Series(data['DwellingType'], dtype ='category').cat.rename_categories(range(len(Counter(data['DwellingType']))))

# Remove Outliers
data = data[(data['ClosePrice'] != 1)]
data = data[(data['ListPrice'] <= 7000000)]

without_na = data.dropna()

x = without_na.drop(['ListPrice', 'ClosePrice', 'CloseDate'], axis=1)
y = without_na['ClosePrice']


x_train, x_test, y_train, y_test = sklearn.cross_validation.train_test_split(
    x, y, test_size=0.20, random_state=42)

Pool
ListDate
PublicRemarks

In [14]:
x_train

array([[  5.12843800e+06,   1.34300000e+03,   2.00000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  5.10296600e+06,   1.51200000e+03,   3.00000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  5.07997300e+06,   3.43600000e+03,   3.00000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       ...,
       [  5.10240600e+06,   1.45900000e+03,   3.00000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  5.07969700e+06,   1.32600000e+03,   3.00000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  5.11267200e+06,   3.20500000e+03,   5.00000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00]])

In [61]:
x[:10]

,ListingId,LivingArea,NumBedrooms,NumBaths,ExteriorStories,GeoLat,GeoLon,PoolFloat,ListingStatusFloat,DwellingTypeFloat
1,5077408,2230,4,2.0,1,33.650984,-111.963151,3,2,6
2,5077486,1601,3,2.0,1,33.692122,-112.038019,3,2,6
3,5077487,2440,4,2.5,2,33.647270,-112.251490,2,2,6
4,5077489,3980,5,3.0,1,33.389139,-111.712757,2,2,6
5,5077490,1243,3,2.0,1,33.403250,-111.771918,2,2,6
6,5077492,1618,2,2.5,2,33.332033,-111.909718,1,2,5
9,5077496,2243,3,2.0,1,33.334591,-111.795238,3,2,6
10,5077497,760,2,2.0,1,33.627024,-112.200800,2,2,3
11,5077499,2258,4,2.0,1,33.621637,-112.024739,2,2,6
12,5077501,1421,3,2.0,2,33.666474,-112.166827,1,2,6

In [76]:
import random
def test_train_split(x, y, test_size=.20):
    training_sample = random.sample(range(len(x)),int(len(x)*(1-test_size))) # Takes the floor
    
    training_sample.sort()
    testing_sample = []
    index = 0
    
    for i in range(len(x)):
        while training_sample[index] < i and index < len(training_sample):
            index += 1
            if index >= len(training_sample):
                break
        else:
            continue
        break
        if training_sample[index] != i:
            testing_sample.append(i)
    
    x_train = x.loc[training_sample]
    y_train = y.loc[training_sample]
    x_test = x.loc[testing_sample]
    y_test = y.loc[testing_sample]
    
    return x_train, y_train, x_test, y_test

In [81]:
n = cross_validation(x[:10], y[:10], test_size=.5)
n[:5]

i = 0
index = 0
i = 1
index = 0
i = 2
index = 0
i = 3
index = 0
index updated to 1
i = 4
index = 1
i = 5
index = 1
index updated to 2
i = 6
index = 2
index updated to 3
i = 7
index = 3
i = 8
index = 3
i = 9
index = 3
index updated to 4

Empty DataFrame
Columns: [ListingId, LivingArea, NumBedrooms, NumBaths, ExteriorStories, GeoLat, GeoLon, PoolFloat, ListingStatusFloat, DwellingTypeFloat]
Index: []

In [110]:
import random
def cv(x, y, k=10):
    randomize = random.sample(range(len(x)),int(len(x)))
    x = x.loc[randomize]
    y = y.loc[randomize]
    fold_size = len(x)/k
    storage = []
    for i in range(k):
        a = i*fold_size
        b = (i+1)*fold_size
        training_sample = list(x[a:b].index)
        testing_sample = []
        index = 0
        
        x_train = x.loc[training_sample]
        y_train = y.loc[training_sample]
        
        training_sample.sort()
        for i in range(len(x)):
            while training_sample[index] < i and index < len(training_sample):
                index += 1
                if index >= len(training_sample):
                    break
            else:
                continue
            break
            if training_sample[index] != i:
                testing_sample.append(i)

        
        x_test = x.loc[testing_sample]
        y_test = y.loc[testing_sample]
        
        
        storage.append([training_sample, testing_sample])
    return storage

In [118]:
validated = cv(x,y)
len(validated[1][0])

3750

In [99]:
test = []
for i in range(5):
    test.append([i, i+1])
test

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [109]:
test[3]

[3, 4]

In [42]:
anti_indices = []
for i in range(len(data)):
    if i not in indeces:
        anti_indices.append(i)
print len(anti_indices)

NameError: name 'indeces' is not defined

In [36]:
with_na = pd.DataFrame(data, index = anti_indices)
print with_na.shape
with_na[-1:]

(19744, 18)

,ListingId,LivingArea,NumBedrooms,NumBaths,Pool,ExteriorStories,ListDate,ListPrice,GeoLat,GeoLon,PublicRemarks,CloseDate,ClosePrice,ListingStatus,DwellingType,PoolFloat,ListingStatusFloat,DwellingTypeFloat
57236,5173415,1504,3,1.75,None,1,2014-08-19,68000,33.509141,-112.173433,"Great short sale property, perfect for the inv...",NaN,NaN,Pending,Single Family - Detached,2,4,6

In [53]:
closeprice = []
count = 0
nan = with_na.loc[0]['ClosePrice']
print nan
for i in anti_indices:
    closeprice.append(with_na.loc[i]['ClosePrice'])
    if with_na.loc[i]['ClosePrice'] == nan:
        count += 1
print "Number without Close Price is %r / %r" % (count, len(anti_indices))

nan
Number without Close Price is 0 / 19744

In [59]:
count = 0
for i in closeprice:
    i = str(i)
    if i == 'nan':
        count += 1
print "Number without Close Price is %r / %r" % (count, len(closeprice))

19320
Number without Close Price is 19320 / 19744

In [37]:
no_close_price = with_na.dropna('ClosePrice')
print no_close_price.shape

ValueError: No axis named ClosePrice for object type <class 'pandas.core.frame.DataFrame'>

In [23]:
indeces = without_na.index
print data.shape
print without_na.shape

(57237, 18)
(37506, 18)

$$\textbf{Random Forest}$$

In [18]:
clf = ensemble.RandomForestRegressor(n_estimators = 1000)
clf.fit(x_train, y_train)
forest_predictions = clf.predict(x_test)
print "RMSE = %r" % RMSE(y_test, forest_predictions)
print "MAE = %r" % MAE(forest_predictions, y_test)
print "Percentage accuracy = %r" % (1-((abs(forest_predictions-y_test).mean())/y_test.mean()))

RMSE = 83728.73636197302
MAE = 34721.736507206137
Percentage accuracy = 0.85802816261503079

In [73]:
print "With Train/Test split 80/20: 0.863"
print "With Train/Test split 95/05: 0.871"

With Train/Test split 80/20: 0.863
With Train/Test split 95/05: 0.871

$$\textbf{Gradient Boosted Trees}$$

In [16]:
clf = ensemble.GradientBoostingRegressor(n_estimators=1000)
clf.fit(x_train, y_train)
gradient_predictions = clf.predict(x_test)
print "RMSE = %r" % RMSE(y_test, gradient_predictions)
print "MAE = %r" % MAE(gradient_predictions, y_test)
print "Percentage accuracy = %r" % (1-((abs(gradient_predictions-y_test).mean())/y_test.mean()))

RMSE = 82965.70615339809
MAE = 38615.845959219951
Percentage accuracy = 0.84210574831510554

$$ \textbf{Mean of Random Forest and Gradient Boosted Trees} $$

In [17]:
ensemble_predictions = (forest_predictions + gradient_predictions)/2

print "RMSE = %r" % RMSE(y_test, ensemble_predictions)
print "MAE = %r" % MAE(ensemble_predictions, y_test)
print "Percentage accuracy = %r" % (1-((abs(ensemble_predictions-y_test).mean())/y_test.mean()))

RMSE = 80677.70227862737
MAE = 35139.96126445046
Percentage accuracy = 0.85631810594164015

$$ \textbf{Support Vector Machine} $$

In [21]:
clf = svm.SVR(kernel='rbf', C=1e3, gamma=0.1)
clf.fit(x_train, y_train)
predictions = clf.predict(x_test)
print "RBF"
print "RMSE = %r" % RMSE(y_test, predictions)
print "MAE = %r" % MAE(predictions, y_test)
print "Percentage accuracy = %r" % (1-((abs(predictions-y_test).mean())/y_test.mean()))

RBF
RMSE = 206645.65219648022
MAE = 106730.16530934902
Percentage accuracy = 0.55895911560887246

In [ ]:
# clf = svm.SVR(kernel='linear', C=1e3)
# clf.fit(x_train, y_train)
# predictions = clf.predict(x_test)
# print "Linear"
# print "RMSE = %r" % RMSE(y_test, predictions)
# print "MAE = %r" % MAE(predictions, y_test)
# print "Percentage accuracy = %r" % (1-((abs(predictions-y_test).mean())/y_test.mean()))

In [ ]:
clf = svm.SVR(kernel='poly', C=1e3, degree=2)
clf.fit(x_train, y_train)
predictions = clf.predict(x_test)
print "Polynomial"
print "RMSE = %r" % RMSE(y_test, predictions)
print "MAE = %r" % MAE(predictions, y_test)
print "Percentage accuracy = %r" % (1-((abs(predictions-y_test).mean())/y_test.mean()))

In [ ]:
print x_train